{% extends "base.html" %}
{% block allcards %}
{% set opcion=opcion %}
<table align="left">
{% for i in sets["cards"] %}
  <img src="{{i["imageUrl"]}}"/>
{% endfor %}
</table>
<br/>
{% if pag == 2 %}
  <div dlass="boton">
    <a class="boton2" href="/allcards/{{pag}}/{{opcion}}">siguiente</a>
  </div>
{% else %}
  <div dlass="boton">
    <a class="boton1" href="/allcards/{{ret}}/{{opcion}}">anterior</a>
    <a class="boton2" href="/allcards/{{pag}}/{{opcion}}">siguiente</a>
  </div>
{% endif %}
{% endblock %}
