<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<body>
  <div id="form">
    <h2>Búsqueda de cartas</h2>
            <form  method="post" action="/">
                    <input name="carta" type="text" id="textfield1" />
                    <input name="submit1" type="submit" id="submit1" value="Buscar" />
            </form>
  </div>
  <div id="form">
    <h2>Abre un sobre!</h2>
            <form  method="post" action="/sets">
              <input name="set" type="text" id="textfield1" />
              <input name="submit1" type="submit" id="submit1" value="Buscar" />
            </form>
  </div>

  <div id="form">
    <h2>Explora una expansion</h2>
            <form  method="post" action="/allcards">
              <input name="allcards" type="text" id="textfield1" />
              <input name="submit1" type="submit" id="submit1" value="Buscar" />
            </form>
  </div>
<div id="container">
<div id="sobre">
<div id="main"><br />
  {% block cartas %}{% endblock %}
  {% block sets %}{% endblock %}
<div id="content">
  {% block allcards %}{% endblock %}
<div id="left">
<br />
</div>
<div id="right">
</div>
<div class="clear"></div>
</div>
</div>
<div id="footer"> <br />
<br />
</div>
</body></html>
