{% extends "base.html" %}
{% block cartas %}
<table  WIDTH="650">
{% for i in cartas2 %}
    <tr>
      <td width="500">
      {{i["name"]}}</br>
      coste: {{i["manaCost"]}}</br>
      Expansión: {{i["setName"]}}</br>
      texto: {{i["text"]}}</br>
    </td>
      {% if "http" in i["imageUrl"] %}
        <td bgcolor= ""><img src="{{i["imageUrl"]}}"/></td>
      {% else %}
        <td bgcolor= ""><img src="../static/img/back.jpg"/></td>
      {% endif %}
      {% for x in i["foreignNames"] %}
        {% if x["language"]=="Spanish" %}
          {% if x["text"]!="None" %}
            <td width="500">traduccion: {{x["text"]}}</td>
          {% endif %}
        {% endif %}
      {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}
