{% extends "base.html" %}
{% block cartas %}
<table  WIDTH="1000">
{% for i in cartas2 %}
    <tr>
      <td width="2000">
      {{ i["name"] }}</br>
      coste: {{ i["manaCost"] }}</br>
      Expansión: {{ i["setName"] }}</br>
      texto: {{ i["text"] }}</br>
    </td>
      {% if "http" in i["imageUrl"] %}
        <td align="left"><img src="{{i["imageUrl"]}}"/></td>
      {% else %}
        <td align="left"><img src="../static/img/back.jpg"/></td>
      {% endif %}
      {% for x in i["foreignNames"] %}
        {% if x["language"]=="Spanish" %}
          {% if x["text"] != None %}
              <td width="2000">traduccion: {{ x["text"] }}</td>
          {% else %}
              <td width="2000">Traducción no disponible</td>
          {% endif %}
        {% endif %}
      {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}
